.Rproj.user
#*.Rproj actually nice to commit
.Rhistory
.RData
.Ruserdata
*.pptx
*.pdf
*.png
*.log
*.tex
*.aux
*.docx
*.dta
*.csv
*.rds
*.rtf
*.synctex.g*.
dataRaw/
paper/
Overleaf_Yield-Convergence/
*.html
